.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item {
  width: 220px;
  height: 30px;
  padding: 5px;
  border: 3px solid rgba(40, 22, 17);
  background-color: #ffffffa8;
  overflow: hidden;
  white-space: nowrap;
}

.editContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;

  .editButton {
    border: 3px solid rgba(40, 22, 17);
    box-shadow: 3px 3px 1px rgba(36, 36, 36, 0.9);
    padding: 2px;

    &:active {
      transform: translate(3px);
      box-shadow: none;
    }
  }
}
