* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "VT323";
  font-size: 20px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgba(40, 22, 17);
  background: #fff;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
